<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ForderMapper">
  <resultMap id="BaseResultMap" type="com.entity.Forder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="qid" jdbcType="INTEGER" property="qid" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="day" jdbcType="VARCHAR" property="day" />
    <result column="stime" jdbcType="VARCHAR" property="stime" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="isdel" jdbcType="VARCHAR" property="isdel" />
    <result column="pubtime" jdbcType="VARCHAR" property="pubtime" />
    <result column="zprice" jdbcType="DOUBLE" property="zprice" />
    <result column="ono" jdbcType="VARCHAR" property="ono" />
    <result column="pj" jdbcType="VARCHAR" property="pj" />
    <result column="huifu" jdbcType="VARCHAR" property="huifu" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="pjtime" jdbcType="VARCHAR" property="pjtime" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="btype" jdbcType="VARCHAR" property="btype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, qid, fid, status, day, stime, etime, amount, isdel, pubtime, zprice, ono, 
    pj, huifu, scope, pjtime, tid, btype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from forder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from forder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Forder">
    insert into forder (id, uid, qid, 
      fid, status, day, stime, 
      etime, amount, isdel, 
      pubtime, zprice, ono, 
      pj, huifu, scope, pjtime, 
      tid, btype)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{qid,jdbcType=INTEGER}, 
      #{fid,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, #{stime,jdbcType=VARCHAR}, 
      #{etime,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{isdel,jdbcType=VARCHAR}, 
      #{pubtime,jdbcType=VARCHAR}, #{zprice,jdbcType=DOUBLE}, #{ono,jdbcType=VARCHAR}, 
      #{pj,jdbcType=VARCHAR}, #{huifu,jdbcType=VARCHAR}, #{scope,jdbcType=VARCHAR}, #{pjtime,jdbcType=VARCHAR}, 
      #{tid,jdbcType=INTEGER}, #{btype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Forder">
    insert into forder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="qid != null">
        qid,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="stime != null">
        stime,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="pubtime != null">
        pubtime,
      </if>
      <if test="zprice != null">
        zprice,
      </if>
      <if test="ono != null">
        ono,
      </if>
      <if test="pj != null">
        pj,
      </if>
      <if test="huifu != null">
        huifu,
      </if>
      <if test="scope != null">
        scope,
      </if>
      <if test="pjtime != null">
        pjtime,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="btype != null">
        btype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="qid != null">
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="stime != null">
        #{stime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null">
        #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="zprice != null">
        #{zprice,jdbcType=DOUBLE},
      </if>
      <if test="ono != null">
        #{ono,jdbcType=VARCHAR},
      </if>
      <if test="pj != null">
        #{pj,jdbcType=VARCHAR},
      </if>
      <if test="huifu != null">
        #{huifu,jdbcType=VARCHAR},
      </if>
      <if test="scope != null">
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="pjtime != null">
        #{pjtime,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="btype != null">
        #{btype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Forder">
    update forder
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="qid != null">
        qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="stime != null">
        stime = #{stime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null">
        pubtime = #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="zprice != null">
        zprice = #{zprice,jdbcType=DOUBLE},
      </if>
      <if test="ono != null">
        ono = #{ono,jdbcType=VARCHAR},
      </if>
      <if test="pj != null">
        pj = #{pj,jdbcType=VARCHAR},
      </if>
      <if test="huifu != null">
        huifu = #{huifu,jdbcType=VARCHAR},
      </if>
      <if test="scope != null">
        scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="pjtime != null">
        pjtime = #{pjtime,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="btype != null">
        btype = #{btype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Forder">
    update forder
    set uid = #{uid,jdbcType=INTEGER},
      qid = #{qid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      stime = #{stime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=VARCHAR},
      pubtime = #{pubtime,jdbcType=VARCHAR},
      zprice = #{zprice,jdbcType=DOUBLE},
      ono = #{ono,jdbcType=VARCHAR},
      pj = #{pj,jdbcType=VARCHAR},
      huifu = #{huifu,jdbcType=VARCHAR},
      scope = #{scope,jdbcType=VARCHAR},
      pjtime = #{pjtime,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      btype = #{btype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

 
  
  
  <select id="getCount" parameterType="java.util.Map" resultType="int">
    select  count(*) from forder  where 1=1
    <if test="uid != null">
      and  uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
      and  fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="tid != null">
      and  tid = #{tid,jdbcType=INTEGER}
      </if>
       <if test="qid != null">
      and  qid = #{qid,jdbcType=INTEGER}
      </if>
      <if test="status != null">
       and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
      </if>
      <if test="day != null">
       and day = #{day,jdbcType=VARCHAR}
      </if>
      <if test="stime != null">
       and stime = #{stime,jdbcType=VARCHAR}
      </if>
      <if test="etime != null">
       and etime = #{etime,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
       and amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="isdel != null">
       and isdel = #{isdel,jdbcType=VARCHAR}
      </if>
      <if test="pubtime != null">
       and pubtime = #{pubtime,jdbcType=VARCHAR}
      </if>
      <if test="zprice != null">
       and zprice = #{zprice,jdbcType=DOUBLE}
      </if>
      <if test="ono != null">
       and ono like concat('%',#{ono,jdbcType=VARCHAR},'%') 
      </if>
       <if test="stime1 != null and etime1 !=null">
       and stime between #{stime1} and #{etime1}
      </if>
      <if test="btype != null">
          and btype = #{btype,jdbcType=VARCHAR}
      </if>
  </select> 
  <select id="getAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" /> 
    from forder  where 1=1
    <if test="uid != null">
      and  uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
      and  fid = #{fid,jdbcType=INTEGER}
      </if>
       <if test="qid != null">
      and  qid = #{qid,jdbcType=INTEGER}
      </if>
      <if test="status != null">
       and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
      </if>
      <if test="day != null">
       and day = #{day,jdbcType=VARCHAR}
      </if>
      <if test="stime != null">
       and stime = #{stime,jdbcType=VARCHAR}
      </if>
      <if test="etime != null">
       and etime = #{etime,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
       and amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="isdel != null">
       and isdel = #{isdel,jdbcType=VARCHAR}
      </if>
      <if test="pubtime != null">
       and pubtime = #{pubtime,jdbcType=VARCHAR}
      </if>
      <if test="zprice != null">
       and zprice = #{zprice,jdbcType=DOUBLE}
      </if>
       <if test="ono != null">
       and ono like concat('%',#{ono,jdbcType=VARCHAR},'%') 
      </if>
       <if test="stime1 != null and etime1 !=null">
       and stime between #{stime1} and #{etime1}
      </if>
      <if test="tid != null">
      and  tid = #{tid,jdbcType=INTEGER}
      </if>
      <if test="btype != null">
          and btype = #{btype,jdbcType=VARCHAR}
      </if>
      order by pubtime desc
  </select> 
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select *from forder where 1=1 
      <if test="uid != null">
      and  uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
      and  fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="qid != null">
      and  qid = #{qid,jdbcType=INTEGER}
      </if>
      <if test="status != null">
       and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
      </if>
      <if test="day != null">
       and day = #{day,jdbcType=VARCHAR}
      </if>
      <if test="stime != null">
       and stime = #{stime,jdbcType=VARCHAR}
      </if>
      <if test="etime != null">
       and etime = #{etime,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
       and amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="isdel != null">
       and isdel = #{isdel,jdbcType=VARCHAR}
      </if>
      <if test="pubtime != null">
       and pubtime = #{pubtime,jdbcType=VARCHAR}
      </if>
      <if test="zprice != null">
       and zprice = #{zprice,jdbcType=DOUBLE}
      </if>
       <if test="ono != null">
       and ono like concat('%',#{ono,jdbcType=VARCHAR},'%') 
      </if>
       <if test="stime1 != null and etime1 !=null">
       and stime between #{stime1} and #{etime1}
      </if>
      <if test="tid != null">
      and  tid = #{tid,jdbcType=INTEGER}
      </if>
       <if test="btype != null">
           and btype = #{btype,jdbcType=VARCHAR}
       </if>
     order by pubtime desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
     
     
     
     
     <!-- 统计分析 -->
     <!-- SELECT tid,SUM(zprice) FROM forder WHERE 1=1 GROUP BY tid  -->
   <select id="getTongJi" parameterType="java.util.Map" resultType="com.entity.TongJi">
   <!-- SELECT COUNT(*),pubtime FROM forder WHERE STATUS!='退订' AND 
    pubtime BETWEEN '2018-11-19' AND '2018-11-22' GROUP BY DATE_FORMAT(pubtime ,'%Y-%m-%d' ) -->
    SELECT  b.name as name, SUM(o.zprice) as amount  FROM forder o , house b WHERE b.id=o.fid and  o.STATUS!='退订' and o.btype='1'
   <!--  select  pubtime as name ,sum(zprice) as amount from forder where   status='已妥投' or status='已支付，待发货' -->
     <!-- <if test="etime!=null ">
     and etime=#{etime,jdbcType=VARCHAR}
     </if> -->
       <if test="stime1!=null and etime1!=null ">
     and  o.stime BETWEEN  #{stime1,jdbcType=VARCHAR} and  #{etime1,jdbcType=VARCHAR}
     </if>
     group by o.fid
  </select>

    <select id="getTongJi_cp" parameterType="java.util.Map" resultType="com.entity.TongJi">
        <!-- SELECT COUNT(*),pubtime FROM forder WHERE STATUS!='退订' AND
         pubtime BETWEEN '2018-11-19' AND '2018-11-22' GROUP BY DATE_FORMAT(pubtime ,'%Y-%m-%d' ) -->
        SELECT  b.name as name, SUM(o.zprice) as amount  FROM forder o , goods b WHERE b.id=o.fid and  o.STATUS!='退订' and o.btype='2'
        <!--  select  pubtime as name ,sum(zprice) as amount from forder where   status='已妥投' or status='已支付，待发货' -->
        <!-- <if test="etime!=null ">
        and etime=#{etime,jdbcType=VARCHAR}
        </if> -->
        <if test="stime1!=null and etime1!=null ">
            and  o.stime BETWEEN  #{stime1,jdbcType=VARCHAR} and  #{etime1,jdbcType=VARCHAR}
        </if>
        group by o.fid
    </select>
</mapper>