<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.entity.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="pubtime" jdbcType="VARCHAR" property="pubtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gid, uid, pubtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Record">
    insert into record (id, gid, uid, 
      pubtime)
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{pubtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="pubtime != null">
        pubtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pubtime != null">
        #{pubtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Record">
    update record
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pubtime != null">
        pubtime = #{pubtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Record">
    update record
    set gid = #{gid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      pubtime = #{pubtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



  
  <select id="getCount" parameterType="java.util.Map" resultType="int">
    select  count(*) from record  where 1=1
   	 <if test="gid != null">
      and  gid = #{gid,jdbcType=INTEGER}
      </if>
      <if test="uid != null">
       and  uid = #{uid,jdbcType=INTEGER} 
      </if>
      
  </select> 
  <select id="getAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  * from record  where 1=1
     	<if test="gid != null">
      and  gid = #{gid,jdbcType=INTEGER}
      </if>
      <if test="uid != null">
       and  uid = #{uid,jdbcType=INTEGER} 
      </if>
  </select> 
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select *from record where 1=1
      <if test="gid != null">
      and  gid = #{gid,jdbcType=INTEGER}
      </if>
      <if test="uid != null">
       and  uid = #{uid,jdbcType=INTEGER} 
      </if>
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
</mapper>