<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"D:\add\org\apache\ibatis\builder\xml\mybatis-3-config.dtd">
<configuration>
	<!-- 取别名 -->
	
	<!-- 导入映射文件 -->
   <mappers>
   <mapper  resource="com/mapper/SysuserMapper.xml"/>
   <mapper  resource="com/mapper/NewsMapper.xml"/>
   <mapper  resource="com/mapper/BbsMapper.xml"/>
  <mapper  resource="com/mapper/BtypeMapper.xml"/>
  <mapper  resource="com/mapper/HouseMapper.xml"/>
  <mapper  resource="com/mapper/ForderMapper.xml"/> 
  <mapper  resource="com/mapper/RecordMapper.xml"/>
  <mapper  resource="com/mapper/GoodsMapper.xml"/>
  <mapper  resource="com/mapper/SysLogMapper.xml"/>

   
  <!--  <package name="com.mapper" /> -->
   
   </mappers>

</configuration>
